{
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": {
          "type": "grafana",
          "uid": "-- Grafana --"
        },
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "type": "dashboard"
      }
    ]
  },
  "editable": true,
  "fiscalYearStartMonth": 0,
  "graphTooltip": 0,
  "id": 10,
  "links": [],
  "panels": [
    {
      "datasource": {
        "default": true,
        "type": "influxdb",
        "uid": "{{ influxdb_datasource_uid }}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 21,
        "w": 18,
        "x": 0,
        "y": 0
      },
      "id": 1,
      "options": {
        "infinitePan": false,
        "inlineEditing": true,
        "panZoom": false,
        "root": {
          "background": {
            "color": {
              "fixed": "transparent"
            },
            "image": {
              "fixed": "img/bg/background.png"
            },
            "size": "fill"
          },
          "border": {
            "color": {
              "fixed": "dark-green"
            }
          },
          "constraint": {
            "horizontal": "left",
            "vertical": "top"
          },
          "elements": [
            {
              "background": {
                "color": {
                  "field": "MFC_1_FlowSet",
                  "fixed": "#D9D9D9"
                }
              },
              "border": {
                "color": {
                  "fixed": "dark-green"
                }
              },
              "config": {
                "align": "center",
                "color": {
                  "fixed": "#000000"
                },
                "size": 13,
                "text": {
                  "field": "MFC_1_FlowSet",
                  "fixed": "",
                  "mode": "field"
                },
                "valign": "middle"
              },
              "connections": [],
              "constraint": {
                "horizontal": "scale",
                "vertical": "scale"
              },
              "links": [],
              "name": "Element 1",
              "oneClickMode": "off",
              "placement": {
                "bottom": 63.3867612154599,
                "left": 19.171779141104295,
                "right": 75.53680981595092,
                "top": 32.06845020072084
              },
              "type": "metric-value"
            },
            {
              "background": {
                "color": {
                  "field": "MFC_1_FlowAct",
                  "fixed": "#D9D9D9"
                }
              },
              "border": {
                "color": {
                  "fixed": "dark-green"
                }
              },
              "config": {
                "align": "center",
                "color": {
                  "fixed": "#000000"
                },
                "size": 13,
                "text": {
                  "field": "MFC_1_FlowAct",
                  "fixed": "",
                  "mode": "field"
                },
                "valign": "middle"
              },
              "constraint": {
                "horizontal": "scale",
                "vertical": "scale"
              },
              "links": [],
              "name": "Element 2",
              "oneClickMode": "off",
              "placement": {
                "bottom": 68.07513112784599,
                "left": 19.171779141104295,
                "right": 75.53680981595092,
                "top": 27.380080288334753
              },
              "type": "metric-value"
            },
            {
              "background": {
                "color": {
                  "field": "MFC_2_FlowSet",
                  "fixed": "#D9D9D9"
                }
              },
              "border": {
                "color": {
                  "fixed": "dark-green"
                }
              },
              "config": {
                "align": "center",
                "color": {
                  "fixed": "#000000"
                },
                "size": 13,
                "text": {
                  "field": "MFC_2_FlowSet",
                  "fixed": "",
                  "mode": "field"
                },
                "valign": "middle"
              },
              "connections": [],
              "constraint": {
                "horizontal": "scale",
                "vertical": "scale"
              },
              "links": [],
              "name": "Element 3",
              "oneClickMode": "off",
              "placement": {
                "bottom": 46.378033676776724,
                "left": 19.171779141104295,
                "right": 75.53680981595092,
                "top": 49.076391999789195
              },
              "type": "metric-value"
            },
            {
              "background": {
                "color": {
                  "field": "MFC_2_FlowAct",
                  "fixed": "#D9D9D9"
                }
              },
              "border": {
                "color": {
                  "fixed": "dark-green"
                }
              },
              "config": {
                "align": "center",
                "color": {
                  "fixed": "#000000"
                },
                "size": 13,
                "text": {
                  "field": "MFC_2_FlowAct",
                  "fixed": "",
                  "mode": "field"
                },
                "valign": "middle"
              },
              "constraint": {
                "horizontal": "scale",
                "vertical": "scale"
              },
              "links": [],
              "name": "Element 4",
              "oneClickMode": "off",
              "placement": {
                "bottom": 50.93151334686026,
                "left": 19.171779141104295,
                "right": 75.53680981595092,
                "top": 44.522912329705655
              },
              "type": "metric-value"
            },
            {
              "background": {
                "color": {
                  "field": "VL3_Man",
                  "fixed": "#D9D9D9"
                }
              },
              "border": {
                "color": {
                  "fixed": "dark-green"
                }
              },
              "config": {
                "align": "center",
                "color": {
                  "fixed": "#000000"
                },
                "size": 13,
                "text": {
                  "field": "VL3_Man",
                  "fixed": "",
                  "mode": "field"
                },
                "valign": "middle"
              },
              "connections": [],
              "constraint": {
                "horizontal": "scale",
                "vertical": "scale"
              },
              "links": [],
              "name": "Element 5",
              "oneClickMode": "off",
              "placement": {
                "bottom": 89.2665631318311,
                "left": 25.766871165644172,
                "right": 68.94171779141104,
                "rotation": 0,
                "top": 6.188648284349635
              },
              "type": "metric-value"
            },
            {
              "background": {
                "color": {
                  "field": "VL4_Man",
                  "fixed": "#D9D9D9"
                }
              },
              "border": {
                "color": {
                  "fixed": "dark-green"
                }
              },
              "config": {
                "align": "center",
                "color": {
                  "fixed": "#000000"
                },
                "size": 13,
                "text": {
                  "field": "VL4_Man",
                  "fixed": "",
                  "mode": "field"
                },
                "valign": "middle"
              },
              "constraint": {
                "horizontal": "scale",
                "vertical": "scale"
              },
              "links": [],
              "name": "Element 6",
              "oneClickMode": "off",
              "placement": {
                "bottom": 71.63829226125942,
                "left": 25.766871165644172,
                "right": 68.94171779141104,
                "rotation": 0,
                "top": 23.816919154921322
              },
              "type": "metric-value"
            },
            {
              "background": {
                "color": {
                  "field": "TS_1_Act",
                  "fixed": "#D9D9D9"
                }
              },
              "border": {
                "color": {
                  "fixed": "dark-green"
                }
              },
              "config": {
                "align": "center",
                "color": {
                  "fixed": "#000000"
                },
                "size": 13,
                "text": {
                  "field": "TS_1_Act",
                  "fixed": "",
                  "mode": "field"
                },
                "valign": "middle"
              },
              "constraint": {
                "horizontal": "scale",
                "vertical": "scale"
              },
              "links": [],
              "name": "Element 7",
              "oneClickMode": "off",
              "placement": {
                "bottom": 48.75904708881531,
                "left": 27.76073619631902,
                "right": 66.9478527607362,
                "rotation": 0,
                "top": 46.69616432736543
              },
              "type": "metric-value"
            },
            {
              "background": {
                "color": {
                  "field": "TS_5_Act",
                  "fixed": "#D9D9D9"
                }
              },
              "border": {
                "color": {
                  "fixed": "dark-green"
                }
              },
              "config": {
                "align": "center",
                "color": {
                  "fixed": "#000000"
                },
                "size": 13,
                "text": {
                  "field": "TS_5_Act",
                  "fixed": "",
                  "mode": "field"
                },
                "valign": "middle"
              },
              "constraint": {
                "horizontal": "scale",
                "vertical": "scale"
              },
              "links": [],
              "name": "Element 8",
              "oneClickMode": "off",
              "placement": {
                "bottom": 72.57596624373663,
                "left": 38.420245398773005,
                "right": 56.28834355828221,
                "rotation": 0,
                "top": 22.879245172444108
              },
              "type": "metric-value"
            },
            {
              "background": {
                "color": {
                  "field": "TS_3_Act",
                  "fixed": "#D9D9D9"
                }
              },
              "border": {
                "color": {
                  "fixed": "dark-green"
                }
              },
              "config": {
                "align": "center",
                "color": {
                  "fixed": "#000000"
                },
                "size": 13,
                "text": {
                  "field": "TS_3_Act",
                  "fixed": "",
                  "mode": "field"
                },
                "valign": "middle"
              },
              "constraint": {
                "horizontal": "scale",
                "vertical": "scale"
              },
              "links": [],
              "name": "Element 9",
              "oneClickMode": "off",
              "placement": {
                "bottom": 18.190875260058018,
                "left": 28.450920245398777,
                "right": 66.33435582822086,
                "rotation": 0,
                "top": 77.26433615612271
              },
              "type": "metric-value"
            },
            {
              "background": {
                "color": {
                  "field": "TS_4_Act",
                  "fixed": "#D9D9D9"
                }
              },
              "border": {
                "color": {
                  "fixed": "dark-green"
                }
              },
              "config": {
                "align": "center",
                "color": {
                  "fixed": "#000000"
                },
                "size": 13,
                "text": {
                  "field": "TS_4_Act",
                  "fixed": "",
                  "mode": "field"
                },
                "valign": "middle"
              },
              "constraint": {
                "horizontal": "scale",
                "vertical": "scale"
              },
              "links": [],
              "name": "Element 10",
              "oneClickMode": "off",
              "placement": {
                "bottom": 39.75737685703402,
                "left": 54.75460122699386,
                "right": 39.95398773006135,
                "rotation": 0,
                "top": 55.69783455914672
              },
              "type": "metric-value"
            },
            {
              "background": {
                "color": {
                  "field": "PS_1_Act",
                  "fixed": "#D9D9D9"
                }
              },
              "border": {
                "color": {
                  "fixed": "dark-green"
                }
              },
              "config": {
                "align": "center",
                "color": {
                  "fixed": "#000000"
                },
                "size": 13,
                "text": {
                  "field": "PS_1_Act",
                  "fixed": "",
                  "mode": "field"
                },
                "valign": "middle"
              },
              "constraint": {
                "horizontal": "scale",
                "vertical": "scale"
              },
              "links": [],
              "name": "Element 12",
              "oneClickMode": "off",
              "placement": {
                "bottom": 72.57596624373663,
                "left": 58.66564417177914,
                "right": 36.11963190184049,
                "rotation": 0,
                "top": 22.879245172444108
              },
              "type": "metric-value"
            },
            {
              "background": {
                "color": {
                  "field": "TS_2_Act",
                  "fixed": "#D9D9D9"
                }
              },
              "border": {
                "color": {
                  "fixed": "dark-green"
                }
              },
              "config": {
                "align": "center",
                "color": {
                  "fixed": "#000000"
                },
                "size": 13,
                "text": {
                  "field": "TS_2_Act",
                  "fixed": "",
                  "mode": "field"
                },
                "valign": "middle"
              },
              "constraint": {
                "horizontal": "scale",
                "vertical": "scale"
              },
              "links": [],
              "name": "Element 13",
              "oneClickMode": "off",
              "placement": {
                "bottom": 53.25988220470595,
                "left": 57.438650306748464,
                "right": 37.423312883435585,
                "rotation": 0,
                "top": 42.195329211474785
              },
              "type": "metric-value"
            },
            {
              "background": {
                "color": {
                  "field": "TS_6_Act",
                  "fixed": "#D9D9D9"
                }
              },
              "border": {
                "color": {
                  "fixed": "dark-green"
                }
              },
              "config": {
                "align": "center",
                "color": {
                  "fixed": "#000000"
                },
                "size": 13,
                "text": {
                  "field": "TS_6_Act",
                  "fixed": "",
                  "mode": "field"
                },
                "valign": "middle"
              },
              "constraint": {
                "horizontal": "scale",
                "vertical": "scale"
              },
              "links": [],
              "name": "Element 14",
              "oneClickMode": "off",
              "placement": {
                "bottom": 67.12166328493504,
                "left": 65.03067484662577,
                "right": 29.83128834355828,
                "rotation": 0,
                "top": 28.332762391630872
              },
              "type": "metric-value"
            },
            {
              "background": {
                "color": {
                  "field": "VL10_Man",
                  "fixed": "#D9D9D9"
                }
              },
              "border": {
                "color": {
                  "fixed": "dark-green"
                }
              },
              "config": {
                "align": "center",
                "color": {
                  "fixed": "#000000"
                },
                "size": 13,
                "text": {
                  "field": "VL10_Man",
                  "fixed": "",
                  "mode": "field"
                },
                "valign": "middle"
              },
              "constraint": {
                "horizontal": "scale",
                "vertical": "scale"
              },
              "links": [],
              "name": "Element 16",
              "oneClickMode": "off",
              "placement": {
                "bottom": 72.51837993095998,
                "left": 48.54294478527607,
                "right": 46.16564417177914,
                "rotation": 0,
                "top": 22.936045745605945
              },
              "type": "metric-value"
            },
            {
              "background": {
                "color": {
                  "field": "BubblerHeater1_Cmd",
                  "fixed": "#D9D9D9"
                }
              },
              "border": {
                "color": {
                  "fixed": "dark-green"
                }
              },
              "config": {
                "align": "center",
                "color": {
                  "fixed": "#000000"
                },
                "size": 13,
                "text": {
                  "field": "BubblerHeater1_Cmd",
                  "fixed": "",
                  "mode": "field"
                },
                "valign": "middle"
              },
              "connections": [],
              "constraint": {
                "horizontal": "scale",
                "vertical": "scale"
              },
              "links": [],
              "name": "Element 15",
              "oneClickMode": "off",
              "placement": {
                "bottom": 37.10242694142138,
                "left": 34.20245398773007,
                "right": 60.50613496932515,
                "top": 58.35199873514454
              },
              "type": "metric-value"
            },
            {
              "background": {
                "color": {
                  "field": "BubblerHeater1_CmdMan",
                  "fixed": "#D9D9D9"
                }
              },
              "border": {
                "color": {
                  "fixed": "dark-green"
                }
              },
              "config": {
                "align": "center",
                "color": {
                  "fixed": "#000000"
                },
                "size": 13,
                "text": {
                  "field": "BubblerHeater1_CmdMan",
                  "fixed": "",
                  "mode": "field"
                },
                "valign": "middle"
              },
              "constraint": {
                "horizontal": "scale",
                "vertical": "scale"
              },
              "links": [],
              "name": "Element 17",
              "oneClickMode": "off",
              "placement": {
                "bottom": 41.82455400669319,
                "left": 34.20245398773007,
                "right": 60.50613496932515,
                "top": 53.62987166987272
              },
              "type": "metric-value"
            },
            {
              "background": {
                "color": {
                  "field": "BubblerHeater2_Cmd",
                  "fixed": "#D9D9D9"
                }
              },
              "border": {
                "color": {
                  "fixed": "dark-green"
                }
              },
              "config": {
                "align": "center",
                "color": {
                  "fixed": "#000000"
                },
                "size": 13,
                "text": {
                  "field": "BubblerHeater2_Cmd",
                  "fixed": "",
                  "mode": "field"
                },
                "valign": "middle"
              },
              "constraint": {
                "horizontal": "scale",
                "vertical": "scale"
              },
              "links": [],
              "name": "Element 18",
              "oneClickMode": "off",
              "placement": {
                "bottom": 47.3899180479064,
                "left": 41.104294478527606,
                "right": 53.68098159509203,
                "rotation": 0,
                "top": 48.06450762865951
              },
              "type": "metric-value"
            },
            {
              "background": {
                "color": {
                  "field": "BubblerHeater2_CmdMan",
                  "fixed": "#D9D9D9"
                }
              },
              "border": {
                "color": {
                  "fixed": "dark-green"
                }
              },
              "config": {
                "align": "center",
                "color": {
                  "fixed": "#000000"
                },
                "size": 13,
                "text": {
                  "field": "BubblerHeater2_CmdMan",
                  "fixed": "",
                  "mode": "field"
                },
                "valign": "middle"
              },
              "constraint": {
                "horizontal": "scale",
                "vertical": "scale"
              },
              "links": [],
              "name": "Element 19",
              "oneClickMode": "off",
              "placement": {
                "bottom": 52.11204511317822,
                "left": 41.104294478527606,
                "right": 53.68098159509203,
                "rotation": 0,
                "top": 43.34238056338771
              },
              "type": "metric-value"
            },
            {
              "background": {
                "color": {
                  "field": "PipeHeater_Man",
                  "fixed": "#D9D9D9"
                }
              },
              "border": {
                "color": {
                  "fixed": "dark-green"
                }
              },
              "config": {
                "align": "center",
                "color": {
                  "fixed": "#000000"
                },
                "size": 13,
                "text": {
                  "field": "PipeHeater_Man",
                  "fixed": "",
                  "mode": "field"
                },
                "valign": "middle"
              },
              "constraint": {
                "horizontal": "scale",
                "vertical": "scale"
              },
              "links": [],
              "name": "Element 20",
              "oneClickMode": "off",
              "placement": {
                "bottom": 63.41142059079291,
                "left": 48.54294478527607,
                "right": 46.16564417177914,
                "rotation": 0,
                "top": 32.04300508577301
              },
              "type": "metric-value"
            },
            {
              "background": {
                "color": {
                  "field": "PS_2_Act",
                  "fixed": "#D9D9D9"
                }
              },
              "border": {
                "color": {
                  "fixed": "dark-green"
                }
              },
              "config": {
                "align": "center",
                "color": {
                  "fixed": "#000000"
                },
                "size": 13,
                "text": {
                  "field": "PS_2_Act",
                  "fixed": "",
                  "mode": "field"
                },
                "valign": "middle"
              },
              "constraint": {
                "horizontal": "scale",
                "vertical": "scale"
              },
              "links": [],
              "name": "Element 21",
              "oneClickMode": "off",
              "placement": {
                "bottom": 58.857940920709375,
                "left": 75.99693251533742,
                "right": 18.865030674846626,
                "rotation": 0,
                "top": 36.596484755856544
              },
              "type": "metric-value"
            },
            {
              "background": {
                "color": {
                  "field": "VL11_Man",
                  "fixed": "#D9D9D9"
                }
              },
              "border": {
                "color": {
                  "fixed": "dark-green"
                }
              },
              "config": {
                "align": "center",
                "color": {
                  "fixed": "#000000"
                },
                "size": 13,
                "text": {
                  "field": "VL11_Man",
                  "fixed": "",
                  "mode": "field"
                },
                "valign": "middle"
              },
              "constraint": {
                "horizontal": "scale",
                "vertical": "scale"
              },
              "links": [],
              "name": "Element 22",
              "oneClickMode": "off",
              "placement": {
                "bottom": 19.225803051463807,
                "left": 82.05521472392638,
                "right": 12.653374233128833,
                "rotation": 0,
                "top": 76.22862262510212
              },
              "type": "metric-value"
            },
            {
              "background": {
                "color": {
                  "field": "MFC_3_FlowAct",
                  "fixed": "#D9D9D9"
                }
              },
              "border": {
                "color": {
                  "fixed": "dark-green"
                }
              },
              "config": {
                "align": "center",
                "color": {
                  "fixed": "#000000"
                },
                "size": 13,
                "text": {
                  "field": "MFC_3_FlowAct",
                  "fixed": "",
                  "mode": "field"
                },
                "valign": "middle"
              },
              "connections": [],
              "constraint": {
                "horizontal": "scale",
                "vertical": "scale"
              },
              "links": [],
              "name": "Element 23",
              "oneClickMode": "off",
              "placement": {
                "bottom": 43.005085773011146,
                "left": 89.80061349693251,
                "right": 4.9079754601226995,
                "rotation": 0,
                "top": 52.44933990355477
              },
              "type": "metric-value"
            },
            {
              "background": {
                "color": {
                  "field": "MFC_3_FlowSet",
                  "fixed": "#D9D9D9"
                }
              },
              "border": {
                "color": {
                  "fixed": "dark-green"
                }
              },
              "config": {
                "align": "center",
                "color": {
                  "fixed": "#000000"
                },
                "size": 13,
                "text": {
                  "field": "MFC_3_FlowSet",
                  "fixed": "",
                  "mode": "field"
                },
                "valign": "middle"
              },
              "connections": [],
              "constraint": {
                "horizontal": "scale",
                "vertical": "scale"
              },
              "links": [],
              "name": "Element 24",
              "oneClickMode": "off",
              "placement": {
                "bottom": 47.55856544309468,
                "left": 89.80061349693251,
                "right": 4.9079754601226995,
                "rotation": 0,
                "top": 47.89586023347124
              },
              "type": "metric-value"
            },
            {
              "background": {
                "color": {
                  "field": "Pump1_OnCmd",
                  "fixed": "#D9D9D9"
                }
              },
              "border": {
                "color": {
                  "fixed": "dark-green"
                }
              },
              "config": {
                "align": "center",
                "color": {
                  "fixed": "#000000"
                },
                "size": 13,
                "text": {
                  "field": "Pump1_OnCmd",
                  "fixed": "",
                  "mode": "field"
                },
                "valign": "middle"
              },
              "constraint": {
                "horizontal": "scale",
                "vertical": "scale"
              },
              "links": [],
              "name": "Element 25",
              "oneClickMode": "off",
              "placement": {
                "bottom": 9.106959340167066,
                "left": 64.34049079754601,
                "right": 30.368098159509206,
                "top": 86.34746633639885
              },
              "type": "metric-value"
            },
            {
              "background": {
                "color": {
                  "field": "Pump1_Man",
                  "fixed": "#D9D9D9"
                }
              },
              "border": {
                "color": {
                  "fixed": "dark-green"
                }
              },
              "config": {
                "align": "center",
                "color": {
                  "fixed": "#000000"
                },
                "size": 13,
                "text": {
                  "field": "Pump1_Man",
                  "fixed": "",
                  "mode": "field"
                },
                "valign": "middle"
              },
              "constraint": {
                "horizontal": "scale",
                "vertical": "scale"
              },
              "links": [],
              "name": "Element 26",
              "oneClickMode": "off",
              "placement": {
                "bottom": 13.660439010250599,
                "left": 64.34049079754601,
                "right": 30.368098159509206,
                "top": 81.79398666631532
              },
              "type": "metric-value"
            }
          ],
          "name": "Element 1727352638417",
          "oneClickMode": "off",
          "placement": {
            "height": 100,
            "left": 0,
            "rotation": 0,
            "top": 0,
            "width": 100
          },
          "type": "frame"
        },
        "showAdvancedTypes": true
      },
      "pluginVersion": "11.2.0",
      "targets": [
        {
          "datasource": {
            "type": "influxdb",
            "uid": "{{ influxdb_datasource_uid }}"
          },
          "query": "from(bucket: \"DHBW\")\n  |> range(start: v.timeRangeStart, stop: v.timeRangeStop)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"compressor\")\n  |> aggregateWindow(every: v.windowPeriod, fn: last, createEmpty: false)\n  |> yield(name: \"last\")",
          "refId": "A"
        }
      ],
      "title": "Panel Title",
      "type": "canvas"
    }
  ],
  "refresh": "",
  "schemaVersion": 39,
  "tags": [],
  "templating": {
    "list": []
  },
  "time": {
    "from": "2024-09-25T21:15:02.827Z",
    "to": "2024-09-26T21:15:02.827Z"
  },
  "timepicker": {},
  "timezone": "browser",
  "title": "Compressor HMI",
  "uid": "compressor0000",
  "version": 2,
  "weekStart": ""
}
